<!doctype html>

<html>
<head>
</head>
<body>

<button> <a href="new">Newest</a></button>
<button>Hottest</button>

<form action="/post">
	<input name="post" placeholder="Post Your Own Wish Here"></input>
	<input type="submit" value="Post"></input>
</form>
</body>
</html>
