<!doctype html>

<html>
<head>
	<link href="/css/intro.css" rel="stylesheet">
</head>
<body>
	<img src="/css/Before I die.jpg" class="bg">
	<img src="/css/black.jpeg" class="mengban bottom">
	<div class="back">
    	<div class="top">
			<h1 class="title">Before I die, I want to ...</h1>
			<nav class="container">
      			<a itemprop="url" class="icon" data-selected-links="repo_issues repo_labels repo_milestones /new" href="/new">
					<span itemprop="name" class="btn">ENTER</span>
				</a>
			</nav>
			<h3 class="content">This is a public space where you can post your idea about what to do before you die.</h3>
		</div>
	</div>
</body>
</html>
