<!doctype html>

<html>
<head>
	<link href="/css/intro.css" rel="stylesheet">
</head>
<body>
	<img src="/css/Before I die.jpg" class="bg">
	<img src="/css/black.jpeg" class="mengban bottom">
	<div class="back">
    	<div class="top">
			<h1 class="title">Before I die, I want to ...</h1>
			<nav class="container">
      			<a itemprop="url" class="icon" data-selected-links="repo_issues repo_labels repo_milestones /new" href="/new">
					<span itemprop="name" class="btn">Enter</span>
				</a>
			</nav>
			<p class="content">In UCSD, there is a blackboard called "Before I die". We believe this blackboard stimulates contemplation beyond everyday life, and pushes us to make our life count. Here we make an online version of "Before I die".</p>
		</div>
	</div>
</body>
</html>
