<!doctype html>

<html>
<head>
</head>
<body>
<div>
	<button>Newest</button>
	<button><a href="hot">Hottest</a></button>
</div>

{{#each posts}}
<div>
	<h3>{{content}}</h3>
</div>
{{/each}}

<form action="/post">
        <input name="post" placeholder="Post Your Own Wish Here"></input>
        <input type="submit" value="Post"></input>
</form>

</body>
</html>
