

body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 20px;
 	line-height: 3;
	color: #5587a8;
	background-color: #fff;

}
.back {
	background:url("/css/Before I die.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 800px;
	opacity:1;
}


.top {
	height:800px; background-color:#ffffff;filter:Alpha(Opacity=100);opacity:0.6;
}

.title{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	color: #5587a8;
	text-align:center
}

.btn {
  background: #5587a8;
  background-image: -webkit-linear-gradient(top, #5587a8, #75bbe6);
  background-image: -moz-linear-gradient(top, #5587a8, #75bbe6);
  background-image: -ms-linear-gradient(top, #5587a8, #75bbe6);
  background-image: -o-linear-gradient(top, #5587a8, #75bbe6);
  background-image: linear-gradient(to bottom, #5587a8, #75bbe6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2ea1e8;
  background-image: -webkit-linear-gradient(top, #2ea1e8, #3498db);
  background-image: -moz-linear-gradient(top, #2ea1e8, #3498db);
  background-image: -ms-linear-gradient(top, #2ea1e8, #3498db);
  background-image: -o-linear-gradient(top, #2ea1e8, #3498db);
  background-image: linear-gradient(to bottom, #2ea1e8, #3498db);
  text-decoration: none;
}

.container{
	text-align:center
}

.content{
	text-align:center
}
